body {
  margin: 0;
    font-family: 'Poppins', sans-serif;
    background-color: #fffaf7;
    margin: 0;
    padding: 0;
  }
  


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1, h2, h3 {
  font-family: 'Playfair Display', serif;
  font-weight: 600;
  letter-spacing: 0.5px;
} 